/** 
 * Picture
 *
 */
#picture{
    .logo{
        margin: 15px 0 0;
        text-align: center;
        img{
        }
    }    
    h3,
    p{
        margin: 0;
        font-size: 0.8em;
        font-weight: bold;
        text-align: left;
    }
    h3{ 
        display: inline-block;
        margin: 0 0 5px;
        padding: 2px 5px;
        background: #666;
        border-radius: 6px;
        padding: 2px 3px;
        color: #FEFEFE
    }
    p{
        color: #666
    }
}